@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: Arial, Helvetica;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.5em;
	color: #333333;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: solid 1px #e0e0e0;
}

a, a:visited {
	text-decoration: none;
	color: #004B8C;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.wvm_site_home {
	width: 100%;
	height: 100%;
	position: static;
	top: 0;
	left: 0;
}

.wvm_site_global {
	width: 100%;
	position: static;
	float: left;
	overflow: hidden;
}

.wvm_site_grid {
	z-index: 99;
	position: absolute;
	width: 50%;
	float: right;
	right: 0;
}

.wvm_site_intro {
	z-index: 99;
	position: absolute;
	width: 50%;
	float: left;
	left: 0;
	list-style: disc;
}

.wvm_site_intro_content {
	padding: 20px;
}

.wvm_site_intro_content ul {
	padding: 0 0 0 20px;
}

.wvm_dash {
	z-index: 100;
	position: fixed;
	float: left;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: solid 1px #999999;
	background: #f4f4f4;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
}

.wvm_grid_objects {
	overflow: auto;
	float: left;
	width: 100%;
}

.wvm_grid_object {
	width: 100%;
	float: right;
}

.wvm_grid_object_content {
	text-align: center;
	padding: 20px 100px;
}

.wvm_grid_object_content:hover {
	cursor: pointer;
}

.wvm_grid_object_content a {
	text-decoration: none;
	color: #f4f4f4;
	font-weight: bold;
}

.wvm_dash_content {
	overflow: hidden;
	margin: 10px;
	height: 64px;
}

.wvm_logo {
	width: 64px;
	height: 64px;
	margin: 0 20px 0 0;
	float: left;
}

.wvm_logo:hover {
	cursor: pointer;
}

.wvm_nav {
	float: left;
	position: left;
	height: 50%;
}

.wvm_nav_object {
	float: left;
}

.wvm_nav_object_content {
	width: auto;
	height: 16px;
	padding: 0 20px 0 0;
	line-height: 16px;
	font-size: 1.2em;
}

.wvm_nav_objects {
	padding: 16px 0 0 0;
}

.wvm_nav_object_content a {
	text-decoration: none;
	color: #f4f4f4;
	text-transform: uppercase;
}

.wvm_nav_object_content:hover {
	cursor: pointer;
}

.wvm_subnav {
	position: fixed;
	float: right;
	right: 0;
	list-style: none;
	overflow: auto;
}

.wvm_subnav a {
	text-decoration: none;
	color: #333333;
}

.wvm_subnav a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.wvm_subnav ul {
	padding: 0;
}

.wvm_subnav ul li {
	
}

.wvm_subnav ul .active.current {
	font-weight: bold;
}

.wvm_subnav .nav-child {
	font-weight: normal;
}

.wvm_subnav_objects {
	padding: 10px 0 10px 0;
	border-left: solid 3px #e0e0e0;
}

.wvm_subnav_object_content {
	padding: 3px;
	border-bottom: dotted 1px #999;
}

.wvm_subnav_object_content.parent.deeper {
	font-weight: bold;
	background-color: #f4f4f4;
	background-image: url(../images/arrow.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	opacity: 0.8;
}

.wvm_subnav_object_content.parent.deeper a {
	font-weight: bold;
}

.current .wvm_subnav_object_content.active {
	font-weight: bold;
	background-color: #333;
}

.current .wvm_subnav_object_content.active a {
	color: #f4f4f4;
}

.current .wvm_subnav_object_content.active a {
	background-color: #333;
}

.wvm_subnav_object_content:hover {
	background: #e0e0e0;
	cursor: pointer;
	border-bottom: dotted 1px #333;
}

.subnav_indent_1 {padding: 3px 3px 3px 10px;}
.subnav_indent_2 {padding: 3px 3px 3px 20px;}
.subnav_indent_3 {padding: 3px 3px 3px 30px;}
.subnav_indent_4 {padding: 3px 3px 3px 40px;}
.subnav_indent_5 {padding: 3px 3px 3px 50px;}
.subnav_indent_6 {padding: 3px 3px 3px 60px;}
.subnav_indent_7 {padding: 3px 3px 3px 70px;}
.subnav_indent_8 {padding: 3px 3px 3px 80px;}

.wvm_breadcrumb {
	float: left;
	height: 32px;
	line-height: 32px;
}

.wvm_breadcrumb li {
	float: left;
	padding: 0px 5px 0px 0px;
}

.wvm_breadcrumb .divider {
	padding: 0px 0px 0px 5px;
}

.wvm_tagline {
	font-family: Arial, Helvetica;
	font-size: 1.5em;
}

.wvm_tagline_name {
	font-size: 1.75em;
	font-weight: bold;
	color: #f4f4f4;
}

.wvm_site_content {
	z-index: 99;
	position: static;
	width: 100%;
	float: left;
	overflow: auto;
}

.item-page, .blog {
	margin: 20px;
}

.edit-icon {
	position: absolute;
	overflow: hidden;
	float: right;
	right: 20%;
	margin: -45px 30px 0 0;
	z-index: 101;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #999999;
	padding: 3px;
	height: 32px;
	width: 64px;
	line-height: 32px;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.7);
	background-image: url(../images/pencil_32x32.png);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);	
}

.edit-icon:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}

.wvm_cli_example {
	padding: 5px;
	border: solid 3px #f4f4f4;
	background: #000000;
	color: #f4f4f4;
	font-family: Courier, monospace;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2); 
	font-weight: bold;
}

.edit.item-page .btn-toolbar {
	overflow: auto;	
}

.edit.item-page .btn-group {
	float: left;
	padding: 0 10px 10px 0;
}

.edit.item-page .form-vertical, .edit.item-page fieldset {
	border: 0;
}

.edit.item-page .nav-tabs {
	overflow: auto;
	border-bottom: solid 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	margin: 0 0 10px 0;
}

.edit.item-page .nav-tabs li {
	padding: 5px;
	font-weight: bold;
	float: left;
	border-right: solid 1px #e0e0e0;
}

.edit.item-page .nav-tabs li:hover {
	background-color: #f4f4f4;
	cursor: pointer;
}

.edit.item-page .control-label {
	font-weight: bold;
	padding: 10px 0 10px 0;
	color: #333;
}

.edit.item-page .controls input {
	border: solid 2px #e0e0e0;
	background: #f4f4f4;
	padding: 5px;
	font-size: 1.2em;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

.edit.item-page #editor-xtd-buttons  {
	overflow: auto;
	border-bottom: solid 1px #e0e0e0;
	border-left: solid 1px #e0e0e0;
	margin: 10px 0 10px 0;
}

.edit.item-page #editor-xtd-buttons a {
	padding: 5px;
	font-weight: bold;
	float: left;
	border-right: solid 1px #e0e0e0;
}

.edit.item-page #jform_publish_up_img, .edit.item-page #jform_publish_down_img {
	width: 32px;
	height: 32px;
	background-image: url(../images/calendar_22x22.png);
	background-positon: 50% 50%;
	background-repeat: no-repeat;
}

.edit.item-page #jform_tags {
	min-width: 200px; 
}