@CHARSET "UTF-8";

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.wvm_site {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(244,244,244) 100%);
	background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(244,244,244) 100%);
	background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(244,244,244) 100%);
	background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(244,244,244) 100%);
	background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(244,244,244) 100%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(244,244,244))
	);
}

.wvm_site_grid {
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
}

.wvm_site_dash {
	z-index: 100;
	position: static;
	float: left;
	padding: 20px 0 0 20px;
}

.wvm_grid_objects {
	overflow: auto;
	height: auto;
	float: left;
	width: 100%;
}

.wvm_grid_object {
	width: 25%;
	float: left;
}

.wvm_grid_object_content {
	text-align: center;
	margin: 20px;
	padding: 20px;
	border: solid 3px #f4f4f4;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .2), inset 0px 0px 40px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .2), inset 0px 0px 40px 5px rgba(0, 0, 0, 0.2); 
	font-family: Arial, Helvetica;
	background: #004764;
}

.wvm_grid_object_content:hover {
	-webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .4), inset 0px 0px 40px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .4), inset 0px 0px 40px 5px rgba(0, 0, 0, 0.3); 
	cursor: pointer;
}

.wvm_grid_object_content a {
	text-decoration: none;
	color: #f4f4f4;
	font-weight: bold;
}

.wvm_dash_content {
	overflow: auto;
	height: auto;
}

.wvm_logo {
	width: 64px;
	height: 64px;
	background-color: #333333;
	margin: 0 20px 0 0;
	float: left;
}

.wvm_nav {
	float: left;
	position: left;
}

.wvm_nav_object {
	float: left;
}

.wvm_nav_object_content {
	width: 56px;
	height: 56px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: solid 3px #f4f4f4; 
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
	margin: 0 10px 0 0;
}

.wvm_tagline {
	font-family: Arial, Helvetica;
	font-size: 1.5em;
}

.wvm_tagline p {
	margin: 0 0 10px 0;
}

.wvm_site_content {
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
}